.hero{
    position: relative;
}
.banner_img{
    width: 100%;
    mask-image: linear-gradient(to right , transparent,black 75%);
    -webkit-mask-image: linear-gradient(to right , transparent,black 75%);
}
.hero_caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.caption_img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero_caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero_btns{
    display: flex;
    gap: 10px;
    margin-bottom:50px ;
}
.btn img{
    width: 25px;
}
.btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.dark_btn{
    color: white;
    background:rgba(113, 108, 108, 0.632) ;
}
.btn:hover{
    background: #ffffffbf;
}
.dark_btn:hover{
    background: rgba(113, 108, 108, 0.255);
}
.more_cards{
    margin-left: 6%;
}